/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
background-image: url('../img/sfondo.png');
  margin: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* HEADER */

#head {
  background: linear-gradient(10deg, rgb(4, 66, 85), rgb(22, 150, 189));
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px;
  Padding-bottom: 7%;
  Padding-top: 7%;
}

#head p {
  color: white;
}

#head a {
  text-decoration: none;
}

#head img {
  width: 60%;
}


/* MAIN */

#main {
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

span {
  color: #630c5e;
}

#dfg {
  margin: 5%;
}

#fgrey {
  color: gray;
}

.icona1 {
  background-color: gray;
  color: white;
  padding: 1%;
}

iframe {
  width: 100%;
}

#tag {
  color: black;
  background-color: rgb(196, 195, 195);
  border-radius: 5px;
  border: solid 1px gray;
  padding: 1px;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

table {
   border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: rgb(81, 148, 236);
}

tr:nth-child(even) {
  background-color: #e0e0e0;
  border-bottom: solid 1px rgb(156, 156, 156);
  border-top: solid 1px rgb(156, 156, 156);
}


/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

#footer {
  background: linear-gradient(45deg, rgb(5, 92, 119), rgb(4, 125, 161));
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}