/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
  margin: 5%;
  font-family: "Roboto", sans-serif;

}

/* HEADER */

#head {
  background: linear-gradient(10deg, rgb(4, 66, 85), rgb(22, 150, 189));
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px;
  Padding-bottom: 7%;
  Padding-top: 7%;
}

#head p {
  color: white;
}

#head a {
  text-decoration: none;
}

#head img {
  width: 60%;
}


/* MAIN */

#main {
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

span {
  color: #630c5e;
}

#dfg {
  margin: 5%;
}

#fgrey {
  color: gray;
}

.icona1 {
  background-color: gray;
  color: white;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

#footer {
  background: linear-gradient(45deg, rgb(5, 92, 119), rgb(4, 125, 161));
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}